.homepage{
    background: #000;
    height:auto;
    padding: 0 !important;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    border-bottom: 2px solid white;
    display: block;
    background: url('../image-ekstraklasa/bg2.jpg');
    background-size: 100% 100%;
}
.league-content{
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.section-leagues{
    height: 600px;
    text-align: center;
    color:white;
    padding: 5px !important;
}
.section-header{
    width: 100%;
    height: 20%;
    font-size: 20px;
    background: rgba(78, 11, 11, 0.678);
    transform: rotate(-5deg);
}
.section-header p{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
.section-container{
    width: 100%;
    height: 80%;
    padding: 0 !important;
    margin: 0 !important;
}
.section-container ul{
    position: relative;
    top:50%;
    transform:translateY(-50%);
    width:100%;
    height:100%;
    margin: 0 !important;
    list-style-type: none;
    padding: 0 !important;
}
.section-container ul>li{
    display: block;
    width:100%;
    height:33%;
    text-align: center;
    background: rgb(5, 8, 17);
    padding: 30px;
    margin-top: 5px;
    transform: rotate(-4deg);
    box-shadow: 0 0 10px black;
}
.section-container ul>li:nth-child(odd){
    transform: rotate(4deg);
    background: rgb(59, 59, 59);
}
.section-container p{
    position: relative;
    text-decoration: none;
    color:rgb(185, 185, 185);
    top: 50%;
    transform: translateY(-50%);
}
.section-container li:last-child{
    border-right: none;
}
.section-container ul>li:hover{
    cursor: pointer;
    background: rgb(2, 65, 26);
}
.button-play{
    bottom:0px;
    padding: 20px;
    display: block;
    height:auto;
    margin-top:10px;
    text-align: center;
    background: #000;
}
.button-play button{
    width:300px;
    padding: 20px;
    position: relative;
    background-image:radial-gradient(black,rgb(37, 37, 37));
    border: none;
    color:silver;
    font-size: 20px;
    box-shadow: 0px 0px 10px black;
}
.section-team{
    padding: 0px;
    height:auto;
}
.button-close{
    position: absolute;
    left:30%;
    width:40px;
    height:40px;
    text-align: center;
    display: none;
    z-index: 100;
}
.button-close > .btn-close{
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    padding: 0;
    background: none;
    margin: 0 auto;
}
.btn-close:hover{
    background: rgb(146, 11, 11);
}
.btn-close span{
    position: absolute;
    top:40%;
    left: 5%;
    width: 90%;
    height:5px;
    background: rgb(14, 5, 5);
    display: block;
}
.btn-close span:first-child{
    transform:rotate(45deg);
}
.btn-close span:last-child{
    transform:rotate(-45deg);
}
.team-div{
    width:25%;
    position: relative;
    display: inline-block;
    height:25%;
    text-align: center;
    color:rgb(231, 231, 231);
    padding: 2px;
    background: rgba(0, 0, 0, 0.582);
}
.team-div p{
    position: relative;
    font-size: 0.8em;
    padding: 2px;
}
.team-div:hover{
    background: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
}
.logo{
    max-width:100%;
    height:80%;
    margin: 0 auto;
    padding: 5px;
}
.logo>img{
    position: relative;
    width: auto;
    height: auto;
    top:50%;
    transform: translateY(-50%);
}

.description{
    width:100%;
    height:auto;
    background: rgba(0, 0, 0, 0.644);
    margin-left: auto;
    margin-right:auto;
    margin-top:20px;
    color:white;
    padding: 20px;
}
.description>p{
    width:50%;
    margin: 0 auto;
    text-align: justify;
    font-size: 25px;
}
.random-photo{
    margin: 0 auto;
    height:120px;
    width:120px;
    border-radius: 50%;
    background:white;
    box-shadow: 0 0 10px white;
    overflow: hidden;
}
.random-photo>img{
    position: relative;
    top:50%;
    transform:translateY(-50%);
}
.animation-logo{
    -webkit-animation-name: logo;
            animation-name: logo;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
}
.mobile{
    width: 100%;
    height: 80px;
    background-color: silver;
    display: flex;
    flex-direction: 1;
    justify-content: center;
}
.mobile-array{
    position: relative;
    width:48%;
    height: 100%;
    background: linear-gradient(to bottom,silver,black,black);
    text-align: center;
    outline: none !important;
}
.mobile-array > .fas{
    position: relative;
    top:50%;
    transform: translateY(0%);
    color:rgb(255, 255, 255);
}


@-webkit-keyframes logo{
    0%{
        left: -80%;
    }
    50%{
        left:0%;
    }
    100%{
        left:80%;  
    }
}

@keyframes logo{
    0%{
        left: -80%;
    }
    50%{
        left:0%;
    }
    100%{
        left:80%;  
    }
}

@media(max-width:1300px){
    .logo>img{
        width: 4.5em;
    }
    .team-div p{
        font-size: 0.8em;
    }
    .loading{
        width: 100%;
    }
    .description>p{
        width:80%;
    }
}
@media(max-width:992px){
    .homepage{
        height: auto;
        display:block; 
        background-size:cover;       
    }
    .league-content{
        height: auto;
        display: block;
    }
    .section-leagues{
        height:200px;
    }
    .section-header{
        height:20%;
    }
    .section-container{
        height:80%;
    }
    .section-container ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: 1;
    }
    .section-container ul li{
        width: 100%;
        height: 100%;
        margin-bottom: none;
    }
    .section-container ul li p{
        text-align: center;
    }
    .team-div{
        height: 130px;
    }
    .logo>img{
        width: 4em;
    }
    .team-div p{
        font-size: 0.8em;
    }
    .button-close{
        position: relative;
        left: 0;
        width:100%;
        height:40px;
        text-align: center;
        background:linear-gradient(white,rgb(36, 36, 36));
    }
    .button-close > .btn-close{
        position: relative;
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        padding: 0;
        background: none;
        margin: 0 auto;
    }
    .description>p{
        font-size: 18px;
    }
}
@media(max-width:768px){
    .section-leagues p{
        font-size: 15px;
    }
    .team-div{
        height:110px;
    }
    .team-div p{
        font-size: 0.8em;
    }
    .logo>img{
        width: 3.5em;
    }
    .button-play button{
        width:180px;
        padding: 15px;
        font-size: 15px;
    }
    .button-close{
        height:40px;
    }
    .button-close > .btn-close{
        width: 40px;
        height: 40px;
    }
}
@media(max-width:576px){

    .section-header p{
        padding: 10px;
    }
    .section-leagues{
        height:300px;
    }
    .section-leagues p{
        font-size: 13px;
    }
    .section-container ul{
        display: block;
        padding: 0;
        height: 100%;
        top:0%;
        transform:translateY(0%);
    }
    .section-container ul>li{
        width: 100%;
        height: 33%;
        padding: 0;
        margin-bottom: 0;
    }
    .team-div{
        height:100px;
        padding: 2px;
    }
    .team-div p{
        font-size: 0.6em;
    }
    .logo>img{
        width: 3em;
    }
    .button-play button{
        width:150px;
        padding: 10px;
    }
    .single-square{
        height: 80px;
    }
    .description>p{
        width:95%;
        font-size: 15px;
    }
    .mobile{
        height:60px;
    }
}
@media(max-width:400px){
    .team-div{
        height:90px;
        width:50%;
    }
    .section-leagues p{
        font-size: 12px;
    }
    .team-div p{
        font-size: 0.6em;
    }
    .logo>img{
        width: 2.5em;
    }
    .single-square{
        width: 80%;
        height: 60px;
    }
    .button-close{
        height:30px;
    }
    .button-close > .btn-close{
        width: 30px;
        height: 30px;
    }
    .description>p{
        font-size: 12px;
    }
}
@media(max-width:300px){
    .section-leagues p{
        font-size: 10px;
    }
    .section-team{
        height: 180px;
        white-space: nowrap;
        overflow-x: auto;
    }
    .team-div{
        position: relative;
        display: inline-block;
        width:60%;
        height: 100%;
    }
    .team-div p{
        font-size: 0.7em;
    }
    .logo>img{
        width: 3em;
    }
    .description>p{
        width: 100%;
        font-size: 11px;
    }
}

@media(max-width:200px){
    .button-play button{
        width:80px;
        padding: 5px;
    }
    .description>p{
        font-size: 10px;
    }
}


